<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>ufood.controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chainController</servlet-name>
        <servlet-class>ufood.chain.chainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChainController</servlet-name>
        <servlet-class>ufood.controller.ChainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoCreateController</servlet-name>
        <servlet-class>ufood.controller.ProdutoCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaCreateController</servlet-name>
        <servlet-class>ufood.controller.EmpresaCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioCreateController</servlet-name>
        <servlet-class>ufood.controller.UsuarioCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagarController</servlet-name>
        <servlet-class>ufood.controller.PagarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chainController</servlet-name>
        <url-pattern>/chainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChainController</servlet-name>
        <url-pattern>/ChainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoCreateController</servlet-name>
        <url-pattern>/ProdutoCreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaCreateController</servlet-name>
        <url-pattern>/EmpresaCreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioCreateController</servlet-name>
        <url-pattern>/UsuarioCreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagarController</servlet-name>
        <url-pattern>/PagarController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
